.fileList{
    height:60px;
    transition: .3s;
    font-size:13pt;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fileList img{
  width:200px;
}
.fileList:hover{
    background-color:#FF4500;
    color:white;
    cursor: pointer;
    opacity: 0.8;
}
