<!--
  Loading Bar for the page and only shows
  whenever the user tries to sign up or sign
  in the website
-->
<app-loading *ngIf="this.loadingService.isLoading"></app-loading>
<!--Landing Page-->
<div class="container" *ngIf="!this.loadingService.isLoading">
  <div class="landing-body">
    <!--DIV Tags to create the background for the first item you see-->
    <div class="item-1-background"></div>
    <div class="item-1-background-color"></div>
    <!--Item List-->
    <div class="item-list">
      <!--Welcome Item (Includes Signin and Signup)-->
        <div class="item-1">
            <div class="header">
              <label class="title">code2gether</label>
            </div>
            <!--Contents to where the modals will be-->
              <div class="welcome" *ngIf="componentState === 'home'">
                <div class="welcome-header">
                  <div class="code-icon">
                    <img class="img-icon" src="../../assets/coding-1.png"/>
                  </div>
                  <div class="quote">
                    <h1 id="quote">A collaborative place for coders.</h1>
                  </div>
                  <div class="buttonHolder">
                    <!--A button to display the sign in modal-->
                      <button id="signinButton" (click)="changeState('signin')">Sign in</button>
                  </div>
                </div>

              </div>
              <!--Holds the sign in modal-->
              <div class="signin" *ngIf="componentState === 'signin'">
                <app-signin (stateChange)="changeState($event)"></app-signin>
              </div>
              <!--Holds the sign up modal-->
              <div class="signup" *ngIf="componentState === 'signup'">
                <app-signup (stateChange)="changeState($event)"></app-signup>
              </div>
          </div>
          <!--Card Item (Contains information about the site)-->
          <div class="item-2">
            <!--
              Cards that shows what our website is about
            -->
            <div class="card-list">
              <!--
                Programming languages you can develop in
              -->
              <div class="card" style="background-color:#FF4500">
                <div class="card-container">
                  <div class="card-head">
                    <h1 class = "card-header-class">Code</h1>
                  </div>
                  <div class="card-body">
                    <img id="card-img-1" src="../../assets/card-icon1.png" />
                  </div>
                  <div class="card-footer">
                    <p style="font-size:12xp;">Develop in up to 5 different programming languages: Java, C++, Python, C# and JavaScript</p>
                  </div>
                    </div>
                </div>
                <!--
                  Talks about how you can work on projects
                  in real time
                -->
                <div class="card" style="background-color:skyblue">
                  <!--Card 2-->
                  <div class="card-container">
                    <div class="card-head">
                      <h1 class = "card-header-class">Collaborate</h1>
                    </div>
                    <div class="card-body">
                      <img id="card-img-2" src="../../assets/card-icon2.png" />
                    </div>
                    <div class="card-footer">
                      <p>Work on projects concurrently with collegues in real time</p>
                    </div>
                      </div>
                  </div>
                  <!--Card 3-->
                  <!--
                    Talks about how you can compile your program
                    online in our site
                  -->
                  <div class="card" style="background-color:yellow">
                    <div class="card-container">
                      <div class="card-head">
                        <h1 class = "card-header-class">Compile</h1>
                      </div>
                      <div class="card-body">
                        <img id="card-img-3" src="../../assets/card-icon3.png" />
                      </div>
                      <div class="card-footer">
                          <p>Once you and your team are done coding, test it out with our online compiler</p>
                      </div>
                     </div>
                  </div>
              </div>
          </div>
          <div class="item-3">
            <!--CONTENT TO BE DECIDED-->
          </div>
          <div class="item-4">

          </div>
    </div>
  </div>
</div>

