<div class="container">
  <div class="landing-body">
    <div class="item-1-background"></div>
      <div class="item-1">
          <label class="title">code2gether</label>
        <!--Contents to where the modals will be-->
          <div class="welcome" *ngIf="componentState === 'home'">
            <button (click)="changeState('signin')">Test Button</button>
          </div>
          <div class="signin" *ngIf="componentState === 'signin'">
            <app-signin></app-signin>
          </div>
          <div class="signup" *ngIf="componentState === 'signup'">
            <app-signup></app-signup>
          </div>
      </div>

  </div>
</div>
