<div class="container">
  <div class="landing-body">
    <div class="item-1-background"></div>
    <div class="item-1-background-color"></div>
      <div class="item-1">
        <div class="header">
            <label class="title">code2gether</label>
        </div>
        <!--Contents to where the modals will be-->
          <div class="welcome" *ngIf="componentState === 'home'">
            <div class="welcome-header">
              <div class="code-icon">
                <img class="img-icon" src="../../assets/coding-1.png"/>
              </div>
              <div class="quote">
                <h1 id="quote">A collaborative place for coders.</h1>
              </div>
              <div class="buttonHolder">
                  <button id="signinButton" (click)="changeState('signin')">Sign in</button>
              </div>
            </div>

          </div>
          <div class="signin" *ngIf="componentState === 'signin'">
            <app-signin (stateChange)="changeState($event)"></app-signin>
          </div>
          <div class="signup" *ngIf="componentState === 'signup'">
            <app-signup (stateChange)="changeState($event)"></app-signup>
          </div>
      </div>
      <div class="item-2">

      </div>
  </div>
</div>
