ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-weight: bold;
    border-radius:15px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #ddd;
}
  
li a.active {
    color: white;
    background-color: #FF4500;
}

#inputClass{
    width:97%;
    height:90%;
    border:none;
    padding:10px;
}

.title {
    font-size:25pt;
    font-weight:bold;
    color:black;
    float:right;
    margin-right: 10px;
  }

#runButton{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    width: 20%;
    height:5%;
    border-radius: 25px;
    border: 0.5px solid black;
    font-weight: bold;
}

#runButton:hover {
    background-color:black;
    opacity: 0.8;
  }

.file-list{
    float:left;
    border:2px solid black;
    width:15%;
    height:700px;
    overflow: auto;
    background-color:white;
    margin-right:20px;
    border-radius:10px;
}
.code-editor{
    display: inline-block;
    margin:0 auto;
    border:2px solid black;
    border-radius:10px;
    width:40%;
    height:700px;
    overflow: auto;
    background-color:white;
}
.compiler{
    float:right;
    border:2px solid black;
    border-radius:10px;
    width:40%;
    height:700px;
    overflow: auto;
    background-color:white;
}

.body{
    padding: 10px;
    margin-top:10px;
    background-color:#FF4500;
    border-radius:15px;
}

.container{
    width:100%;
    background-color:white;
}