<div class="container">
  <div class="header">
    <div class="navbar">

      </div>
  </div>
  <div class="body">
    <div class="file-list">

    </div>
    <div class="code-editor">

    </div>
    <div class="compiler">

    </div>
  </div>
</div>
<!--
  TO ADD AN ANGULAR COMPONENT TO HTML WRITE THE FOLLOWING
  <app-COMPONENTNAME></app-COMPONENTNAME>
  COMPONENT NAME WILL BE THE COMPONENT YOU WANT TO INSERT INTO
  THE PAGE
  CHECK THE TS FOLDER AND LOOK AT SELECTOR TO SEE HOW TO WRITE
  THE HTML FOR THE COMPONENT
-->
