<div class="container">
    <div class="navbar">
      <app-navbar></app-navbar>
    </div>
  <div class="body">
    <div id = "file-list-div" class="file-list">
      <p style = "text-align: center"><b>File List</b></p>
      <app-program-files></app-program-files>
    </div>
    <div id = "code-editor-div" class="code-editor">
        <app-code-editor (codeToCompile)="compiler.compile($event)"></app-code-editor>
    </div>
    <div  id = "compiler-div" class="compiler">
      <app-compiler #compiler ></app-compiler>
    </div>
  </div>
</div>
