<div class="container">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="body">
    <!--
      Element that controls whether or not to display the
      create project modal
    -->
    <div class="create-project">
      <button (click)="showProjectModal()" class="createButton" >Create A New Project</button>
      <button (click)="showJoinModal()" class="createButton">Join a Project</button>
      <div class="project-modal" *ngIf="projectModal">
        <!--X button-->
        <span (click)="showProjectModal()" class="close">&times;</span>
        <app-create-new-project></app-create-new-project>
      </div>
    <!--
      Element that controls whether or not to display the
      join project modal
    -->
      <div class="join-modal" *ngIf="joinModal">
        <span (click)="showJoinModal()" class="close">&times;</span>
        <app-join-project-modal></app-join-project-modal>
      </div>
    </div>
    <!--
      Shows the current list of projects
      that the user has available
    -->
    <div class="file-list">
      <div class="file-header">
        <h2 style="text-align:left">Current Projects</h2>
      </div>
      <app-file-list></app-file-list>
    </div>
  </div>

</div>
