<!--<link rel="stylesheet" href="../../../../assets/lib/codemirror.css">
<script src="../../../../assets/lib/codemirror.js"></script>
<script>
  var textArea = document.getElementById('inputClass');
  var editor = CodeMirror(textArea, {
    lineNumbers: true
  });
</script>-->
<div class="container">
  <div class="compile-button">
    <button (click)="testCompile()" id = "runButton">Run</button>
  </div>
  <div class="editor">
    <textarea  [(ngModel)]="code" (keydown)="keyBindings($event)" id="inputClass" placeholder="Write code here..."></textarea>
    <!--<code name="code" ngDeafultControl [innerHTML]="test()" [(ngModel)]="code" id="inputClass" contenteditable="true"></code>-->
  </div>
</div>

