<!--Sign In Container-->
<div id="mainModalDiv" class="modal animate">
    <!--Start of form-->
    <form class="modal-content">
      <div class="header">
        <h1>Create A New Project</h1>
      </div>
      <!--Form Contents-->
      <div class="container">
        <!--Project Name-->
        <div class="form-group">
            <label for="pname"><b>Project Name</b></label>
            <input id = "inputClass" type="text" name="pname">
        </div>

        <!--Project Description-->
        <div class="form-group">
          <label for="desc"><b>Description</b></label>
          <input id ="inputClass" type="text" name="desc">
        </div>

        <!--Password-->
        <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input id = "inputClass" type="password"  name="psw" >
        </div>
        <!--Submit-->
        <button type="submit">Submit</button>
      </div>
    </form>
 </div>

