<app-loading *ngIf="this.loadingService.isLoading"></app-loading>
<!--Create New Project Container-->
<div id="mainModalDiv" class="modal animate">
    <!--Start of form-->
    <form [formGroup]="this.form" class="modal-content">
      <div class="header">
        <h1>Create A New Project</h1>
      </div>
      <!--Form Contents-->
      <div class="container">
        <!--Project Name-->
        <div class="form-group">
            <label>Project Name</label>
            <input formControlName="projectName" id = "inputClass" type="text" name="pname">
        </div>

        <!--Project Description-->
        <div class="form-group">
          <label for="desc">Description</label><br/>
          <textarea formControlName="description" id="desc" type="text" name="desc"></textarea>
        </div>

        <div class="form-group">
          <label for="desc">Programming Language</label>
          <select  formControlName="language" class="language">
            <option *ngFor = "let l of languages" [value]="l">{{l}}</option>
          </select>
        </div>

        <!--Submit-->
        <button (click)="createProject()">Submit</button>
      </div>
    </form>
 </div>

