<!--Navigation Component-->
<div class="container-main">
  <!--Image of the logo-->
  <div class="logo">
    <img class="imgLogo" src="../../../assets/coding-1.png" />
    <label class="title">code2gether</label>
  </div>
  <!--List of links that the user can access-->
  <div class="nav-links">
    <ul class="nav-list">
      <!--Account Link-->
      <li>
        <a class="link" href="javascript:void(0)">Account</a>
      </li>
      <!--Project Link-->
      <li>
        <a routerLink="/projects" class="link" href="javascript:void(0)">My Projects</a>
      </li>
      <!--Log Out Link-->
      <li>
        <a class="link" href="javascript:void(0)">Log Out</a>
      </li>
    </ul>
  </div>
</div>
