<div class="container-main">
  <div class="logo">
    <img class="imgLogo" src="../../../assets/coding-1.png" />
    <label class="title">code2gether</label>
  </div>
  <div class="nav-links">
    <ul class="nav-list">
      <li>
        <a class="link" href="javascript:void(0)">Account</a>
      </li>
      <li>
        <a class="link" href="javascript:void(0)">My Projects</a>
      </li>
      <li>
        <a class="link" href="javascript:void(0)">Log Out</a>
      </li>
    </ul>
  </div>
</div>
